.App {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header {
  background: dodgerblue;
}

#head1 {
  margin-left: 1em;
  text-align: start;
}

nav {
  background: lightblue;
  justify-content: space-evenly;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


li {
  color: black;
  display: block;
}

footer {
  background: dodgerblue;
}

#foot1 {
  margin-left: 1em;
  text-align: start;
}

#foot2 {
  margin-right: 1em;
  text-align: end;
}

@media (max-width:600px){
  nav {
    width: fit-content;
    grid-template-columns: auto;
  }
}